.userImg {
  width: 200px;
  border-radius: 8px;
  border: 1px solid salmon;
}
.text {
  padding: 10px;
  background-color: #9c9c9c3e;
  border-radius: 8px;
  border: 1px solid salmon;
}
.container {
  padding: 6px;
  border: 1px solid greenyellow;
  border-radius: 8px;
  box-shadow: 1px 1px 4px #dcdcdc88;
  margin: 10px;
}
